@import "../../ModuleConfig/Bootstrap/Bootstrap";
@import "../../Constant/RESIZE";

.PersonalCenter {
    width: (1433rem/$RESIZE_FACTOR);
    margin: 0 auto;
    padding: (70rem/$RESIZE_FACTOR) 0;

    .contentWrapper {
        display: flex;
        justify-content: space-between;

        .leftPart {
            .identificationWrapper {
                height: (340rem/$RESIZE_FACTOR);
                width: (500rem/$RESIZE_FACTOR);
                margin: (30rem/$RESIZE_FACTOR);
                padding:0;
                display: flex;
                flex-wrap: wrap;
                box-shadow: #D2D0D0 (5rem/$RESIZE_FACTOR) (0rem/$RESIZE_FACTOR) (20rem/$RESIZE_FACTOR);

                .identification {
                    width: 96%;
                    height: auto;
                    margin: 0 2%;
                    background-repeat: no-repeat !important;
                    background-size: contain !important;
                    background-position: center !important;
                }
            }
        }

        .rightPart {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .personalInfoWrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: (388rem/4*3/$RESIZE_FACTOR);

                .infoWrapper {
                    font-size: (28rem/$RESIZE_FACTOR);
                    padding: (14rem/$RESIZE_FACTOR) (52rem/$RESIZE_FACTOR);
                    vertical-align: middle;
                    box-shadow: #D2D0D0 (5rem/$RESIZE_FACTOR) (0rem/$RESIZE_FACTOR) (20rem/$RESIZE_FACTOR);
                    margin: (30rem/$RESIZE_FACTOR);

                    .label {
                        display: inline-block;
                        width: 5em;
                    }

                    .info {
                        display: inline-block;
                    }
                }
            }
        }
    }

    .modifyButtonWrapper {
        text-align: center;
        margin-top: (32rem/$RESIZE_FACTOR);

        .modifyButton {
            @extend .btn, .btn-primary;
            width: (180rem/$RESIZE_FACTOR);
            height: (60rem/$RESIZE_FACTOR);
            font-size: (20rem/$RESIZE_FACTOR);
        }
    }

    .tableWrapper {
        margin: (51rem/$RESIZE_FACTOR) 0;
        background-color: #FFF;

        .medicalRecordTable {
            @extend .table, .table-hover, .table-striped;
            font-size: (28rem/$RESIZE_FACTOR);
            text-align: center;

            td, th {
                padding: (29rem/$RESIZE_FACTOR) (28rem/$RESIZE_FACTOR);
                vertical-align: middle;
            }
        }
    }

}