@import "../../../../Constant/COLOR";
@import "../../../../Constant/RESIZE";
@import "../../../../Constant/FONT";

.CommentCard{
    width: (528rem/$RESIZE_FACTOR);
    height: (460rem/$RESIZE_FACTOR);
    padding: 40rem/$RESIZE_FACTOR;
    border-radius: 10rem/$RESIZE_FACTOR;
    -webkit-transition: width 0.8s, height 0.8s, -webkit-transform 0.8s; /* For Safari 3.1 to 6.0 */
    transition: width 0.8s, height 0.8s, transform 0.8s;
    
    .icon{
        width:(60rem/$RESIZE_FACTOR);
        height:(60rem/$RESIZE_FACTOR);
        margin:0 auto;
        border-radius: 50%;
        transform: translate(0,20rem/$RESIZE_FACTOR);
        display: block;
    }
    .title{
        text-align: center;
        display: block;
        margin:30rem/$RESIZE_FACTOR auto 24rem/$RESIZE_FACTOR;
    }
    .content{
        font-size: (22rem/$RESIZE_FACTOR);
        text-align: center;
    }
}