@import "../../../../Constant/RESIZE";
@import "../../../../ModuleConfig/Bootstrap/Bootstrap";

.DirectPaymentInfo {
    cursor: pointer;
    user-select: none;

    .publicKey {
        max-width: (192rem/$RESIZE_FACTOR);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: monospace;
        text-decoration: underline dotted;
    }

    button {
        @extend .btn, .btn-primary;
    }
}