@import "../../Constant/RESIZE";
@import "../../Constant/COLOR";
.HomePage{

    .carousel {
        height: (660rem/$RESIZE_FACTOR);
    }

    .contentWrapper{
        padding: (90rem/$RESIZE_FACTOR) (81rem/$RESIZE_FACTOR);
        max-width: 1920px;
        margin: 0 auto;

        .moduleTitleWrapper{
            margin: (30rem/$RESIZE_FACTOR) 0;
            display: flex;
            
            
            .moduleTitle{
                margin:auto;
                padding: (16rem/$RESIZE_FACTOR) 0;
                //border-bottom: 6rem/$RESIZE_FACTOR solid $DARK_GRAY;
                font-size: (30rem/$RESIZE_FACTOR);
                color: $BLUE;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -(4rem/$RESIZE_FACTOR);
                    top: auto;
                    left: 40rem/$RESIZE_FACTOR;
                    height: 3px;
                    width: 40rem/$RESIZE_FACTOR;
                    background-color: $DARK_GRAY;
                }
            }
        }
        
        .introductionCardListWrapper{
            width:100%;
            margin: (-48rem/$RESIZE_FACTOR) (-25rem/$RESIZE_FACTOR);
            margin-top: (38rem/$RESIZE_FACTOR - 48rem/$RESIZE_FACTOR);
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;

            .introductionCardWrapper{
                margin: (48rem/$RESIZE_FACTOR) (25rem/$RESIZE_FACTOR);
                width: (409rem/$RESIZE_FACTOR);
                box-sizing: content-box;
            }
        }
        .indicatorWrapper{
            background-color: $WHITE;
            padding: 50rem/$RESIZE_FACTOR;
            margin: 30rem/$RESIZE_FACTOR;
            .title {
                text-align: center;
                margin-bottom:50rem/$RESIZE_FACTOR;
            }
            .stageProgressIndicatorWrapper{
                margin: 0 auto;
                display: flex;
                justify-content: center;
                transform: scale(0.8);
            }
            .stageTextIndicatorWrapper {
                width: 80%;
                margin: 0 auto;
                display: flex;
                justify-content: space-around;
                zoom: 70%;
            }
        }
        
    }
    
}